Dataset_Mobil_Indonesia_Balanced_backup
scraper/
dataset.zip
*/cvat_dataset_updated_single_class_restructured
*/dataset
*/dataset_backup
*/veri_classification_dataset
*/models/*
*.pt
*.pth
*__pycache__